<!doctype html>

<html lang="en">
<head>
      <!-- Meta Information -->
      <title>gitBytes</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
  
      <!-- External CSS -->
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

      
      <!-- Server CSS -->
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    
      <!-- External JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      <!-- Server JS -->
      <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<header>
    
    <div class="jumbotron">
        <h1>gitBytes</h1>
        <p><em>est.2019</em></p>  
    </div>

</header>

<body>
  <main class="container">
    
  <section class="confirmation-container">

    <h3 class="confirmation">CONFIRMATION</h3>

  </section>

  </main>
</body>

<footer class="footer">

    <span class="icons">

        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>

    </span>

</footer>

</html>