<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>gitBytes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    
    <!-- Server JS -->
    <script type="text/javascript" src="/server.js"></script>

  </head>

  <body>

    <!-- Page-specific (main) content here -->
    <main>

        <section>
            <div class="jumbotron text-center">
                <h1>gitBytes</h1>
                <p>"cheesy one liner here"</p> 
              </div>

            <h3>Restaurant Name Here</h3>

            <form method="POST" action="./gitbytes">

              <input type="submit" value="Order Now">

            </form>
        </section>          

        </main>

  </body>

</html>